<div class="container">
            <p>
                Zusatzstoffe: 1= mit Farbstoff, 2= mit Konservierungsstoff, 3= mit Geschmacksverstärker, 4= mit Phosphat,
                5= mit Antioxidationsmittel, 6= geschwärzt, 7= mit Süßungsmittel, 8= enthält eine Phenylalaninquelle,
                9= koffeinhaltig
            </p>
            <p>
                Allergene: A= glutenhaltiges Getreide, B= Eier, C= Fisch, D= Milch,
                E= Senf, F= Krebstiere, G= Weichtiere, H= Sellerie, I= Soja
            </p>
</div>