
<div class="main-div">
    <mat-card class="pizza-card">
        <mat-card class="header">
            <div class="taxi">
                <h3>Pizza Taxi</h3>
                <p>Lieferungen frei Haus nach Ringenberg ab 15€ Bestellwert</p>
                <p>Lieferungen nach Dingden und Hamminkeln ab 15€ Bestellwert <sub>Lieferkosten: 1€</sub> </p>
                <p>Lieferungen nach Brünen, Mehrhoog und Loikum ab 20€ Bestellwert<sub>Lieferkosten: 2€</sub></p>
            </div>
            <div>
                <p>Ab 30€ Bestellwert erhalten Sie eine Flasche Cola oder Fanta gratis!</p>
            </div>
        </mat-card>
    </mat-card>
</div>