<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="onClick()">
    <span class="material-icons">menu</span>
  </button>
  <span>Pizzeria Grewal</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" onclick="window.location.href='https://g.page/r/CYFabJLgE4u-EAg/review';">
    <span class="material-icons">favorite</span>
  </button>
</mat-toolbar>
