<div class="main-div">
    <mat-card class="pizza-card">
        <mat-card class="header">
            <div class="top">
                <mat-card-title>
                    <h1 class="red">Pizzeria Grewal</h1>
                </mat-card-title>
                <mat-card-subtitle class="header">
                    Hauptstraße 34 - 46499 Hamminkeln - Ringenberg
                </mat-card-subtitle>
            </div>
            <div class="phone">
                <h3>Telefon:</h3>
                <h3 class="red">02852/9652617</h3>
                <h3 class="red">02852/9652618</h3>
                <p>Bei Störung: 0163/1502627</p>
            </div>
            <div>
                <h3>Öffnungszeiten</h3>
                <p>Di.-Fr. 11:30 - 14:00 Uhr & 16:30 - 22:00 Uhr</p>
                <p>Sa., So. & Feiertage 15:30 - 22:00 Uhr</p>
                <p>Montag Ruhetag</p>
            </div>
        </mat-card>


    </mat-card>
</div>