.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

mat-panel-title{
    justify-content: space-between;
}

mat-panel-description{
    justify-content: space-between;
}

mat-panel-title{
    min-width: 160px;
}

.name{
    display: flex;
    color: #F28705;
    height: 10px;
}


price{
    width: 35%;
    height: 10px;
    display: flex;
}

.h5{
    display: inline-block;
    justify-content: space-between;
    width: 25%;
}

info{
    display: inline-block;
}

sup {
    vertical-align: top;
    position: relative;
    top: -0.6em;
}

.oneMeal{
    color: #F28705;
}

.sizeHeader{
    display: flex;
}

.size{
    display: inline-block;
    justify-content: space-between;
    width: 25%;
}


sup{
    font-size: 6px;
}

.row{
    margin-top: -10px;
    margin-bottom: -10px;
}

.nutrientDistance{
    margin-top: -19px;
    margin-bottom: -10px;
}

.nutrient{
    font-weight: lighter;
}

.element{
    font-weight: lighter;
}