<div class="main">
    <mat-card>
        <mat-card-title>Pizza</mat-card-title>
        <mat-card-subtitle>Alle Pizzen mit Tomatensauce, Käse<sup>1,D</sup> und Oregano</mat-card-subtitle>
        <mat-card-content>
            <app-pizza></app-pizza>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-title>Actions Buttons</mat-card-title>
        <mat-card-subtitle>End</mat-card-subtitle>
        <mat-card-actions align="end">
            <button mat-button>Like</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pizza
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Insalata - Salate
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Antipasta - Vorspeisen
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Spaghetti
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Makkaroni
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Tortellini
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Tagliatelle
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Nudelgerichte mit Hähnchenfleisch
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Baguettes
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Schweine-Schnitzel
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Hähnchenbrustfilet
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Wraps
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Indische Spezialitäten
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Imbiss
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pizzabrötchen und Brot
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Getränke
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
    </mat-accordion>

</div>
