<div class="main">
    <mat-card>
        <div class="container">
            <mat-card-title>Pizza</mat-card-title>
            <mat-card-subtitle>Alle Pizzen mit Tomatensauce, Käse<sup>1,D</sup> und Oregano</mat-card-subtitle>
        </div>
        <mat-card-content>
            <app-pizza></app-pizza>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Salate - Insalata</mat-card-title>
            <mat-card-subtitle>                Alle Salate wahlweise mit Dressing<sup>5,8,D</sup>, Cocktailsauce<sup>1,5</sup> oder Essig & Öl <br>
                Zu jedem Salat erhalten Sie Pizzabrötchen<sup>A</sup> mit Kräutercreme</mat-card-subtitle>
        </div>
        <mat-card-content>
            <app-salad></app-salad>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Vorspeisen - Antipasta</mat-card-title>
            <br>
        </div>
        <mat-card-content>
            <app-antipasta></app-antipasta>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Spaghetti</mat-card-title>
            <mat-card-subtitle>Zu jedem Nudelgericht erhalten Sie Pizzabrötchen<sup>A</sup> mit Kräutercreme</mat-card-subtitle>
            <br>
        </div>
        <mat-card-content>
            <app-spaghetti></app-spaghetti>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Makkaroni</mat-card-title>
            <mat-card-subtitle>Zu jedem Nudelgericht erhalten Sie Pizzabrötchen<sup>A</sup> mit Kräutercreme</mat-card-subtitle>
            <br>
        </div>
        <mat-card-content>
            <app-makkaroni></app-makkaroni>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Tortellini</mat-card-title>
            <mat-card-subtitle>Zu jedem Nudelgericht erhalten Sie Pizzabrötchen<sup>A</sup> mit Kräutercreme</mat-card-subtitle>
            <br>
        </div>
        <mat-card-content>
            <app-tortellini></app-tortellini>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Tagliatelle</mat-card-title>
            <mat-card-subtitle>Zu jedem Nudelgericht erhalten Sie Pizzabrötchen<sup>A</sup> mit Kräutercreme</mat-card-subtitle>
            <br>
        </div>
        <mat-card-content>
            <app-tagliatelle></app-tagliatelle>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
    <div class="container">
        <mat-card-title>Nudelgerichte mit Hähnchenfleisch</mat-card-title>
        <mat-card-subtitle>Zu jedem Nudelgericht erhalten Sie Pizzabrötchen<sup>A</sup> mit Kräutercreme</mat-card-subtitle>
        <br>
    </div>
    <mat-card-content>
        <app-noodles></app-noodles>
    </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Baguettes</mat-card-title>
            <mat-card-subtitle>Alle Baguettes mit Salat, Remulade<sup>B,E</sup> mit Käse<sup>1,D</sup></mat-card-subtitle>
            <br>
        </div>
        <mat-card-content>
            <app-baguette></app-baguette>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Schweine-Schnitzel</mat-card-title>
            <mat-card-subtitle>mit Pommes oder Kroketten</mat-card-subtitle>
            <br>
        </div>
        <mat-card-content>
            <app-pork></app-pork>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Hähnchenbrustfilet</mat-card-title>
            <mat-card-subtitle>mit Pommes oder Kroketten</mat-card-subtitle>
            <br>
        </div>
        <mat-card-content>
            <app-chicken></app-chicken>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Fingerfood</mat-card-title>
            <br>
        </div>
        <mat-card-content>
            <app-fingerfood></app-fingerfood>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Wraps</mat-card-title>
            <br>
        </div>
        <mat-card-content>
            <app-wraps></app-wraps>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Indische Spezialitäten</mat-card-title>
            <mat-card-subtitle>
                mit Basmati Reis oder indisches Brot (Naan)<br>
                Alle Gerichte werden auf Wunsch mild, mittelscharf oder scharf zubereitet
            </mat-card-subtitle>
            <br>
        </div>
        <mat-card-content>
            <app-indian></app-indian>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Imbiss</mat-card-title>
            <br>
        </div>
        <mat-card-content>
            <app-snack></app-snack>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Pizzabrötchen und Brot</mat-card-title>
            <mat-card-subtitle>
                Alle gefüllten Pizzabrötchen mit Käse<sup>1,D</sup> und Tomatensauce
            </mat-card-subtitle>
            <br>
        </div>
        <mat-card-content>
            <app-bread></app-bread>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Getränke</mat-card-title>
            <br>
        </div>
        <mat-card-content>
            <app-drink></app-drink>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
    <mat-card>
        <div class="container">
            <mat-card-title>Allergene und Zusatzstoffe</mat-card-title>
            <br>
        </div>
        <mat-card-content>
            <app-nutrient></app-nutrient>
        </mat-card-content>
    </mat-card>
    <div style="height: 10px; background-color: #F28705"></div>
</div>
